<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @request.api_id %>
</p>

<p>
  <strong>Api:</strong>
  <%= @request.api_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
