<!DOCTYPE html>
<html>
  <head>
    <title>Api auth</title>
    <%= stylesheet_link_tag    "api_auth/application", media: "all" %>
    <%= javascript_include_tag "api_auth/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light navbar-expand-lg bg-light">
      <span class="navbar-brand">ApiAuth</span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item <%= 'active' if controller_name == 'clients'%>">
            <%= link_to '客户', api_auth.clients_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'apis' %>">
            <%= link_to 'API', api_auth.apis_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mb-5">
      <%= yield %>
    </div>
    <footer class="bd-footer bg-light fixed-bottom">
      <div class="float-right">
        ApiAuth V0.0.1
      </div>
    </footer>
  </body>
</html>
