<p id="notice"><%= notice %></p>

<h1>Apis</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= ApiAuth::Api.human_attribute_name(:path) %></th>
      <th>GET</th>
      <th>POST</th>
      <th>PUT</th>
      <th>DELETE</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.path %></td>
        <td><%= api.GET %></td>
        <td><%= api.POST %></td>
        <td><%= api.PUT %></td>
        <td><%= api.DELETE %></td>
        <td>
          <%= link_to '编辑', edit_api_path(api), remote: true %>
          <%= link_to '删除', api, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('raw.create')}#{ApiAuth::Api.model_name.human}", '#new_api', class: 'btn btn-primary', data: {toggle: 'modal', target: '#new_api'} %>

<%= render 'api_auth/apis/modal', api: ApiAuth::Api.new %>
